

<app-header></app-header>

  <ion-toolbar>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>

<ion-content class="ion-content">
  <ion-grid class="ion-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-card class="card">
          <ion-card-content>
            <ion-text>
              <ion-row>
              </ion-row>
              
              <p class="text">
                By signing up, you agree to our <ion-text style="color: #eb2963; font-weight:600;">Terms and Conditions
                </ion-text> and <ion-text style="color:#eb2963;font-weight:600;">XYZ Privacy Policy</ion-text> and acknowledge that your
                email address is
                associated with an organization (and is not a personal use or consumer email address).
                <br>
                <br>
              <p class="text">You also understand an administrator of your organisation may assume control over your account and data
                and that your
                name, email address, and trial organization name will be visible to other people in your organisation.
              <br></p>
            </ion-text>

          </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>

  </ion-grid>
</ion-content>

