.login-button {
    color: #ffffff;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20;
    margin: auto;
    width: 100%;
    --background: #eb2963;
    --border-radius: 10px;
    --box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    padding-right: 60px;
    padding-left: 60px;
  }

  .padding{
    --ion-padding: 0px;
  }

  .icon {
    padding-top: 3px;
    color: #eb2963; 
    float: right; 
}