<ion-content>
  <ion-grid style="padding: 30px 20px 30px 20px ">

          <ion-row class="ion-justify-content-evenly">
            <ion-col size="6">
              <ion-grid>
                <ion-row class="subcats" (click)="exploreSubcat('Gifts','Soft Toys')">Soft Toys</ion-row>
                <ion-row class="subcats" (click)="exploreSubcat('Gifts','Candles')">Candles</ion-row>
                <ion-row class="subcats" (click)="exploreSubcat('Gifts','Mugs')">Mugs</ion-row>
                <ion-row class="subcats" (click)="exploreSubcat('Gifts','Pen Stand')">Pen Stand</ion-row>
                <ion-row class="subcats" (click)="exploreSubcat('Gifts','Dream Catchers')">Dream Catchers</ion-row>
                <ion-row class="subcats" (click)="exploreSubcat('Gifts','Cards')">Cards</ion-row>
                <ion-row class="subcats" (click)="exploreSubcat('Gifts','Pens')">Pens</ion-row>

                </ion-grid>
              </ion-col>

              <ion-col size="6">
                <ion-grid>
                  <ion-row class="subcats" (click)="exploreSubcat('Gifts','Showpieces')">Showpieces</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Gifts','Flower Vase')">Flower Vase</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Gifts','Artificial Flowers')">Artificial Flowers</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Gifts','Jewellery Set')">Jewellery Set</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Gifts','Watches')">Watches</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Gifts','Diary')">Diary</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Gifts','Candies')">Cadies</ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>  
           
   </ion-grid>

</ion-content> 

