
  <app-header></app-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Return and Exchange Policy</ion-title>
  </ion-toolbar>


<ion-content class="ion-content">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-card class="card">
          <ion-card-content>
            <ion-text>
              <p class="text">
                <ion-text style="color: #eb2963;"><b> If a User has purchased Products </b></ion-text> which form a part of a package of other Products, or if the Product forms a part of a
                promotional package (collectively, the <ion-text style="color: #eb2963;"><b>“Bundled Package” </b></ion-text>), the User shall be required to return all the Products that form a part of the Bundled Package for AJIO to process refunds</p>
                <br>
              <p class="text">
                <ion-text style="color: #eb2963;"><b> For illustrative purposes</b></ion-text> if the User has purchased a shirt and a pair of pants as 1 (one) Product in a promotional package, the User will be required to return both the
                shirt and the pair of pants and will not be permitted to return either only the shirt or only the pair of pants from the Bundled Package.
              </p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

