<script src="signup.page.ts"></script>

<ion-content class="ion-content">
  <ion-grid class="ion-padding">

    <ion-row class="ion-align-items-center">

      <ion-col size="7.5">
        <ion-row>
          <ion-col size="8">
            <ion-card class="card" style="float: right;">
                <ion-row class="ion-justify-content-center">
                  <ion-col size="3" style="padding-top: 10px;">
                    <img src="../../assets/images/Picture2.png">
                  </ion-col>
                </ion-row>
    
                <ion-row>
                  <ion-col style="padding: 15px 25px 0px 25px">
                      <ion-title class="options1" routerLink="/logincopy">
                        LOGIN
                      </ion-title>
                      <ion-title class="options2">
                        SIGN UP
                      </ion-title>
                  </ion-col>
                </ion-row>
                    
                <form [formGroup]="signupMobileForm" (ngSubmit)="onSubmit()">
                <ion-row>
                  <ion-col>
                            <div class="inputs">
                              <ion-label style="padding-left: 10px">
                                Mobile Number
                              </ion-label>
                              <div class="inputs2">
                                <ion-input 
                                type="text" 
                                id="phone" 
                                formControlName="phone" 
                                placeholder=" Enter your 10 digit mobile number">
                                </ion-input>
                              </div>
                            </div>

                            <ion-text *ngIf="!signupMobileForm.get('phone').valid && signupMobileForm.get('phone').touched"
                        class="help-block" style="padding-left: 42px; color: rgb(255, 116, 116); padding-top: 2px;">
                        Please enter a valid mobile number</ion-text>
                  </ion-col>
                </ion-row>
                <div id='check' style="color:rgb(255, 116, 116); padding-left: 50px"></div>

              
                <ion-row class="ion-justify-content-center" style="padding: 10px 25px 10px 35px">
                    <ion-card-content class="check">
                      <ion-checkbox [(ngModel)]='isChecked' [ngModelOptions]="{standalone: true}" style="--size:18px; --border-color: rgba(255, 255, 255, 0.6); --background: rgba(0,0,0,0.2)"></ion-checkbox>
                      <ion-text> I agree with the <b style="color: #eb2963; cursor: pointer;" routerLink="/terms">Terms & Conditions</b> and <b style="color: #eb2963; cursor: pointer;" routerLink="/terms">Privacy Policy</b></ion-text>
                    </ion-card-content>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                  <ion-col  size="6" style="padding-bottom: 40px; padding-top: 45px;" >
                    <ion-button [disabled]='!isChecked' class="login-button" type='submit' (click)='shareContact(signupMobileForm.value.phone)'  [routerLink]="userexists() ? [] : ['/otp-signup']">Continue</ion-button>
                  </ion-col>
                </ion-row>

              </form>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
