<app-header></app-header>
 
<ion-content class="ion-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Contact Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-card class="card">
          <ion-card-content>
              <br>
              <ion-row>
                <ion-col>
                <p><ion-text style="color: #eb2963;">
                  <b>
                    Customer Support:
                  </b>
                </ion-text> customer@xyz.com</p>
                <br>
                <ion-text style="color: #eb2963;">
                  <b>
                    Toll Free Helpline
                  </b>
                </ion-text>
                <p>011 657 657</p>
                <br>
                <ion-text style="color: #eb2963;">
                  <b>
                    Address
                  </b>
                </ion-text>
                <p>A39, XYZ Tower, Avenue Street, New Delhi- 122014</p>
                </ion-col>
              </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>