<ion-content>
  <ion-grid style="padding: 30px 20px 30px 20px ">
    <ion-row class="ion-justify-content-evenly">

      <ion-col size="5.5"> 
        <ion-grid> 

          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-text class="heading">Home Furnishing</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Bedsheets')">Bedsheets</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Curtains')">Curtains</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Blankets')">Blankets</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Carpets')">Carpets</ion-text>
                </ion-row>

              </ion-grid>
    
            </ion-col>
          </ion-row>  
            
            <ion-row>
              <ion-col>
                <ion-grid>
                  <ion-row>
                    <ion-text class="heading">Decor</ion-text>
                  </ion-row>
                  
                  <ion-row>
                    <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Clocks')">Clocks</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Mirrors')">Mirrors</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Photo Frames')">Photo Frames</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Paintings')">Paintings</ion-text>
                  </ion-row>
  
                  </ion-grid>
      
                </ion-col>
              </ion-row>  

        </ion-grid>
      </ion-col>

      <ion-col size="5.5">
        <ion-grid> 

          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-text class="heading">Kitchenware</ion-text>
                </ion-row>

                <ion-row>
                  <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Dinner Sets')">Dinner Sets</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Chopping Boards')">Chopping Boards</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Bottles & Boxes')">Water Bottles & Lunch Boxes</ion-text>
                </ion-row>
                <ion-row>
                  <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Containers')">Containers</ion-text>
                </ion-row>

                </ion-grid>
    
              </ion-col>
            </ion-row>  
            
            <ion-row>
              <ion-col>
                <ion-grid>
                  <ion-row>
                    <ion-text class="heading">Bath</ion-text>
                  </ion-row>
                  
                  <ion-row>
                    <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Bathroom Trays')">Bathroom Trays</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Laundry Bags')">Laundry Bags</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Soap Dispensers')">Soap Dispensers</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text class="subcats" (click)="exploreSubcat('Home Decor','Toothbrush Holders')">Toothbrush Holders</ion-text>
                  </ion-row>
                    
                  </ion-grid>
      
                </ion-col>
              </ion-row>  

        </ion-grid>
      </ion-col>
    </ion-row>
   </ion-grid>

</ion-content> 

