<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!change()">
  <ion-row>
    <ion-col style="padding: 20px 30px 0px 0px">
      <ion-text class="clear" (click)="clear()">Mark all as read</ion-text>
    </ion-col>
  </ion-row>
  <ion-grid *ngFor="let n of notifications"> 
    <ion-row style="padding: 0px">
      <ion-col size="1.5">
        <img src="{{n.image}}" style="height: 60px; width: 110px; border-radius: 60px;">
      </ion-col>
      <ion-col style="padding: 25px 0px 0px 0px;">
        <p style="max-width: 54ch; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{n.text}}</p>
      </ion-col>
    </ion-row>
    <hr>
  </ion-grid>
  </ion-grid>

  <ion-grid *ngIf="change()">
    <ion-row class="ion-justify-content-center" style="padding-top: 50px;">
      <img src="../../assets/images/notification.png" style="height: 250px; width: 300px;">
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text><h3>You are all caught up!</h3></ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text>There are no new notifications.</ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
