.ion-text-left{
    text-align: left;
    color: black;
    margin: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-left: 80px;
  }
  
  .header{
    text-align: left;
    color: black;
    margin: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    // padding-left: 80px;
  }
  
  
  
  .text{
    text-align: left;
    color: #EB2963;
    margin: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding-left: 80px;
  }
  