<ion-content style="background-color: #808080"> 
    <app-header></app-header>

    <ion-grid style="padding-bottom: 20px; padding-top: 0px; filter: drop-shadow(2px 2px 2px #fff495);">
      <ion-row style="background-color: #fff495; height: 20px;" class="ion-justify-content-center">
        <ion-text>Free Delivery on orders above &#x20B9;1499</ion-text>
      </ion-row>
      </ion-grid>
      

  <link href="https://fonts.googleapis.com/css2?family=Stoke&display=swap" rel="stylesheet">

  <ion-grid style="padding-bottom: 20px;">
    <ion-row class="ion-justify-content-evenly" style="padding-left: 30px; padding-right: 40px; height: 140px;">
      <ion-col *ngFor="let category of categories" class="col">
        <ion-row class="ion-justify-content-center" style="padding-bottom: 10px;">
          <img src="{{category.image}}" class="category" (click)="exploreCat(category.name)">
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text style="cursor: pointer; font-size: 18px" (click)="callCatPop($event, category.name)">{{category.name}}</ion-text>
          <ion-icon name="chevron-down-outline" style="padding-top: 5px; padding-left: 5px;"></ion-icon>
        </ion-row>
      </ion-col>  
    </ion-row>
    </ion-grid>
  
  <!-- Carousel -->
  <ion-grid style="padding-bottom: 20px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>  
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>  
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/images/Carousel/3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="../../assets/images/Carousel/14.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="../../assets/images/Carousel/22.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="../../assets/images/Carousel/21.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="../../assets/images/Carousel/19.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
  </ion-grid> 

<ion-grid style="padding-bottom: 20px; filter: drop-shadow(2px 2px 2px #db5314);">
  <ion-row style="background-color: #F9AB7F; height: 120px;" class="ion-justify-content-center">
    <ion-col size="2" style="padding-top: 20px; padding-left: 70px;">
      <img src="../../assets/images/PQRbank.png" style="height: 80px; width: 150px;">
    </ion-col>

    <ion-col size="4"style="padding-top: 40px; padding-left: 20px">
      <ion-grid>
        <ion-row>
          <ion-text><b>Get 10% instant discount <ion-text style="color: red; font-weight: 400;">*</ion-text></b></ion-text>
        </ion-row>
        <ion-row>
          <ion-text >On PQR Debit & Credit Cards</ion-text>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col class="vl">
      <ion-text> </ion-text>
    </ion-col>
       <ion-col size="2" style="padding-top: 20px; padding-left: 70px;">
      <img src="../../assets/images/EFGbank.png" style="height: 80px; width: 150px; ;">
    </ion-col>

    <ion-col size="2.5" style="padding-top: 40px; padding-left: 20px;">
      <ion-grid>
        <ion-row>
          <ion-text><b>Get 5% instant discount <ion-text style="color: red; font-weight: 400;">*</ion-text></b></ion-text>
        </ion-row>
        <ion-row>
          <ion-text>On PQR Credit Cards</ion-text>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>

  <ion-row>
    <ion-col class="ion-padding" style="padding-top: 70px; padding-bottom: 70px;">
      <ion-card-title class="ion-text-center" style="color: rgba(67,178,178)">
        <h2>
          <ion-text class="or">TOP BRANDS</ion-text>
        </h2>
      </ion-card-title>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-grid style="padding-bottom: 20px;">
    <ion-row class="ion-justify-content-evenly">
  
      <ion-col size="2.5" *ngFor="let brand of brands">
        <ion-card class="card">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <img src="{{brand.image}}" style="height: 280px; width: 280px;">
            </ion-row>
            <ion-row style="padding-top: 12px;" class="ion-justify-content-center">
              <ion-text style="font-weight: 600;">{{brand.name}}</ion-text>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>    
  
    </ion-row>
    </ion-grid>

  <ion-grid>

    <ion-row>
      <ion-col class="ion-padding" style="padding-top: 70px; padding-bottom: 70px;">
        <ion-card-title class="ion-text-center" style="color: rgba(67,178,178)">
          <h2>
            <ion-text class="or">EXCITING DEALS</ion-text>
          </h2>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="padding-top: 20px; padding-bottom: 20px;">
    <ion-row class="ion-justify-content-evenly" style="padding: 40px 50px 70px 30px; background-color: rgba(67, 178, 178, 1);">

      <ion-col (click)="exploreDeals('1')" class="deals">
        <ion-row class="ion-justify-content-center" style="padding-bottom: 10px;">
          <img src="../../assets/images/Deals/Tshirts.jpg" class="deals">
        </ion-row >
        <ion-row class="ion-justify-content-center"><ion-text class="deal-text">Tshirts starting at &#x20B9;199 only</ion-text></ion-row>
      </ion-col>

      <ion-col (click)="exploreDeals('2')" class="deals">
        <ion-row class="ion-justify-content-center"  style="padding-bottom: 10px;">
        <img src="../../assets/images/Deals/Dress.jpg" class="deals">
        </ion-row>
        <ion-row class="ion-justify-content-center"><ion-text class="deal-text">Dresses at &#x20B9;499</ion-text></ion-row>
      </ion-col>

      <ion-col class="deals">
        <ion-row class="ion-justify-content-center"  style="padding-bottom: 10px;">
        <img src="../../assets/images/Deals/FormalWear.jpg" class="deals">
        </ion-row>
        <ion-row class="ion-justify-content-center"><ion-text class="deal-text">Formal Wear Under &#x20B9;1299</ion-text></ion-row>
      </ion-col>

      <ion-col class="deals">
        <ion-row class="ion-justify-content-center"  style="padding-bottom: 10px;">
        <img src="../../assets/images/Deals/Kiddiess.jpg" class="deals">
        </ion-row>
        <ion-row class="ion-justify-content-center"><ion-text class="deal-text">50-70% Off On Kiddiess</ion-text></ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-evenly" style="padding: 0px 170px 70px 130px; background-color: rgba(67, 178, 178, 1);">

      <ion-col class="deals">
        <ion-row class="ion-justify-content-center"  style="padding-bottom: 10px;">
          <img src="../../assets/images/Deals/BerryCrush.jpg" class="deals">
        </ion-row >
        <ion-row class="ion-justify-content-center"><ion-text class="deal-text">Minimum 60% Off On RipeBerry</ion-text></ion-row>
      </ion-col>

      <ion-col class="deals">
        <ion-row class="ion-justify-content-center"  style="padding-bottom: 10px;">
        <img src="../../assets/images/Deals/HomeSpace.jpg" class="deals">
        </ion-row>
        <ion-row class="ion-justify-content-center"><ion-text class="deal-text">Upto 50% Off On HomeSpace</ion-text></ion-row>
      </ion-col>

      <ion-col class="deals">
        <ion-row class="ion-justify-content-center"  style="padding-bottom: 10px;">
        <img src="../../assets/images/Deals/SaleDevices.jpg" class="deals">
        </ion-row>
        <ion-row class="ion-justify-content-center"><ion-text class="deal-text">Flat 20% Off On Headphones</ion-text></ion-row>
      </ion-col>
    </ion-row>
    </ion-grid>

<app-footer></app-footer>

</ion-content>

