<ion-content>
  <ion-grid style="padding: 30px 20px 30px 20px ">

          <ion-row class="ion-justify-content-evenly">

              <ion-col size="6">
                <ion-grid>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Shampoo')">Shampoo</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Conditioner')">Conditioner</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Nail Polish')">Nail Polish</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Body Oil')">Body Oil</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Body Scrub')">Body Scrub</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Hair Dryer')">Hair Dryer</ion-row>
                </ion-grid>
              </ion-col>
              <ion-col size="6">
                <ion-grid>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Perfumes')">Perfumes</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Deodorants')">Deodorants</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Moisturizers')">Moisturizers</ion-row>
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Sanitizers')">Sanitizers</ion-row>  
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Trimmers')">Trimmers</ion-row>  
                  <ion-row class="subcats" (click)="exploreSubcat('Personal Care','Shaving Cream')">Shaving Cream</ion-row>  
                  </ion-grid>
                </ion-col>
            </ion-row>  
           
   </ion-grid>

</ion-content> 

