<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="4.5">
        <ion-card class="card">
          <ion-grid>
            <ion-row class="ion-justify-content-center" style="padding-top: 30px;; color: #eb2963; font-weight: 600; font-size: 20px;">
             Set Your New Password
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <img src="../../../assets/images/FogotPwd/new.png" style="height: 150px; width: 150px;">
            </ion-row>

            <form [formGroup]="newPwdForm" (ngSubmit)="onSubmit()">
            <ion-row>
              <ion-col class="ion-padding">
                <ion-card-content>
                  <div class="inputs">
                      <ion-label style="padding-left: 10px;">New Password</ion-label>                     
                          <div class="inputs2">
                            <ion-input                               
                              type="password" 
                              id="password" 
                              formControlName="password1" 
                              placeholder=" Min 8 characters & upto 12 characters">
                              </ion-input>
                          </div> 
                    </div>

                    <div class="inputs">
                        <ion-label style="padding-left: 10px;">Confirm Password</ion-label>                     
                            <div class="inputs2">
                              <ion-input 
                              type="password" 
                              id="password" 
                              formControlName="password2" 
                              >
                                </ion-input>
                            </div>        
                      </div>
                
                      <div id="match"></div>
                  
                </ion-card-content>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center" style="padding-bottom: 40px; padding-top: 50px;">
              <ion-col  size="6">
                <ion-button type="submit" class="login-button" (click)='onSubmit()' [routerLink]="checkval() && checkmatch() ? ['/logincopy'] : []">Continue</ion-button>
              </ion-col>
            </ion-row>

            </form>
            
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
