<ion-content>
  <app-header></app-header>

  <ion-grid>
    <ion-row>
    
    <ion-col size="3" *ngFor="let p of products" class="ion-justify-content-center" (click)="viewProduct(p)">
    <ion-card class="card">
        <ion-row class="ion-justify-content-center">
          <img src="{{p.image}}" class="image">
        </ion-row>
        <ion-card-content>
          
          <b style="color: #000; font-family: 'ABeeZee';" >{{p.company}}</b>
          <p style="color: #000; font-family: Montserrat; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{p.title}}</p>

          <b style="color: #000;">{{ p.price | currency:'&#x20B9;'}}</b>
        
      </ion-card-content>
    </ion-card>
    </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
