// .wishlist{
//     color: #eb2963;
//     float: right;
//   }

//   .card{
//     padding: 12px 5px 0px 5px;
//     cursor: pointer;
//   }

//   .card img:hover {
//     transition: 0.2s ease-in-out;
//     transform: scale(1.1);
// }

// .image{
//   height: 220px; 
//   width: 220px;
// }

.wishlist{
  color: #eb2963;
  float: right;
}

//   .card{
//     padding: 12px 5px 0px 5px;
//     cursor: pointer;
//   }

img:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

// .image{
//   height: 220px; 
//   width: 220px;
// }