.heading {
  color: rgb(0,0,0);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  float: left;
  font-size: 15px;
}

.subcats:hover{
font-weight: 600;
color: rgba(56, 128, 255);
cursor: pointer;
}


